In [14]:
import numpy as np
import pandas as pd

In [5]:
lst = [1,2,3,4,5]

In [15]:
np.array(lst)

array([1, 2, 3, 4, 5])

In [22]:
pd.Series([lst,lst,lst])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [23]:
df = pd.DataFrame([lst,lst,lst,lst,lst,lst,lst,lst,lst], columns = ['A','B','C','D','E'])

In [25]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5
3  1  2  3  4  5
4  1  2  3  4  5
5  1  2  3  4  5
6  1  2  3  4  5
7  1  2  3  4  5
8  1  2  3  4  5

In [26]:
del df

In [27]:
df

NameError: name 'df' is not defined

In [ ]:
pd.array()