Type Conversion

In [1]:
# Python program to demonstrate implicit type Casting
 
# Python automatically converts a to int
a = 7
print(type(a))
 
# Python automatically converts b to float
b = 3.0
print(type(b))
 
# Python automatically converts c to float as it is a float addition
c = a + b
print(c)
print(type(c))
 
# Python automatically converts d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

In [ ]:
# Python program to demonstrate type Casting
 
# int variable
a = 5
 
# typecast to float
n = float(a)
 
print(n)
print(type(n))

5.0
<class 'float'>

In [ ]:
# Python program to demonstrate type Casting
 
# int variable
a = 5.9
 
# typecast to int
n = int(a)
 
print(n)
print(type(n))

5
<class 'int'>

In [ ]:
# Python program to demonstrate type Casting
 
# int variable
a = 5
 
# typecast to str
n = str(a)
 
print(n)
print(type(n))

5
<class 'str'>

In [ ]:
# Python program to demonstrate type Casting
 
# string variable
a = "5"
 
# typecast to int
n = int(a)
 
print(n)
print(type(n))

5
<class 'int'>

In [ ]:
# Python program to demonstrate type Casting
 
# string variable
a = "5.9"
 
# typecast to float
n = float(a)
 
print(n)
print(type(n))

5.9
<class 'float'>