**Arithmetic Operations on Strings**

Addition

In [1]:
str1 = 'Geeksfor'
str2 = 'Geeks'
print(str1 + str2)

GeeksforGeeks

Subtraction

In [ ]:
str1 = 'Geeksfor'
str2 = 'Geeks'
print(str1 - str2)

TypeError: ignored

Multiplication

In [ ]:
str1 = 'Geeksfor'
str2 = 'Geeks'
print(str1* str2)

TypeError: ignored

In [ ]:
str1 = 'Geeks'
print(str1*3)

GeeksGeeksGeeks

**Arithmetic Operations on Numbers/integers**

Addition

In [ ]:
val1 = 2
val2 = 3
  
# using the addition operator

res = val1 + val2
print(res)

5

Subtraction

In [ ]:
val1 = 2
val2 = 3
  
# using the subtraction operator

res = val1 - val2
print(res)

-1

Multiplication

In [ ]:
val1 = 2
val2 = 3
  
# using the multiplication operator

res = val1 * val2
print(res)

6

Division

In [ ]:
val1 = 3
val2 = 2
  
# using the division operator
res = val1 / val2
print(res)

1.5

Modulus

In [ ]:
val1 = 3
val2 = 2
  
# using the modulus operator
res = val1 % val2
print(res)

1

Exponent

In [ ]:
val1 = 2
val2 = 3
  
# using the exponentiation operator
res = val1 ** val2
print(res)

8

Floor division

In [ ]:
val1 = 3
val2 = 2
  
# using the floor division
res = val1 // val2
print(res)

1