# Summer Olympics Data Analysis Assignment

In [ ]:
import pandas as pd

df = pd.read_csv("summer.csv")

In [ ]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

### 1. In how many cities Summer Olympics is held so far?

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

### 3. Which sport is having most number of medals so far? (Top 5)

### 4. Which player has won most number of medals? (Top 5)

### 5. Which player has won most number Gold Medals of medals? (Top 5)

### 6. In which year India won first Gold Medal in Summer Olympics?

### 7. Which event is most popular in terms on number of players? (Top 5)

### 8. Which sport is having most female Gold Medalists? (Top 5)