In [1]:
import json

In [2]:
fd = open('Record.json','r')
js = fd.read()
fd.close()

In [8]:
js = json.loads(js)

In [16]:
for i in js.keys():
    print([i, js[i]['Price'],js[i]['Name'],js[i]['Qn']])

['1005', 650, 'Blueberry Cake', 3]
['1004', 550, 'Chocolate Cake', 6]
['1003', 2, 'Candy', 500]
['1002', 20, 'Bar-One', 0]
['1001', 10, '5 Star', 188]

In [11]:
js

{'1005': {'Price': 650, 'Name': 'Blueberry Cake', 'Qn': 3},
 '1004': {'Price': 550, 'Name': 'Chocolate Cake', 'Qn': 6},
 '1003': {'Price': 2, 'Name': 'Candy', 'Qn': 500},
 '1002': {'Price': 20, 'Name': 'Bar-One', 'Qn': 0},
 '1001': {'Price': 10, 'Name': '5 Star', 'Qn': 188}}

In [23]:
lst = [['Product ID', 'Price', 'Name', 'Quantity']]


for i in js.keys():
    lst.append([i, str(js[i]['Price']),js[i]['Name'],str(js[i]['Qn'])])

In [24]:
lst

[['Product ID', 'Price', 'Name', 'Quantity'],
 ['1005', '650', 'Blueberry Cake', '3'],
 ['1004', '550', 'Chocolate Cake', '6'],
 ['1003', '2', 'Candy', '500'],
 ['1002', '20', 'Bar-One', '0'],
 ['1001', '10', '5 Star', '188']]

In [30]:
for i in lst:
    print(','.join(i))

Product ID,Price,Name,Quantity
1005,650,Blueberry Cake,3
1004,550,Chocolate Cake,6
1003,2,Candy,500
1002,20,Bar-One,0
1001,10,5 Star,188

In [33]:
fd = open('data.txt','a+')

for i in lst:
    fd.write(','.join(i) + '\n')
    
fd.close()