In [1]:
lst = [1,2,3,4,5]

In [2]:
type(lst)

list

In [3]:
lst

[1, 2, 3, 4, 5]

In [4]:
lst[0]

1

In [17]:
lst = [[1,2,3,4],
       [5,6,7,8],
       [0,9,8,7]]

In [18]:
lst[2][2]

8

In [20]:
lst = [[[1,0,0],[2,0,0],[3,0,0]],
       [[4,0,0],[5,0,0],[6,0,0]],
       [[7,0,0],[8,0,0],[9,0,0]]]

In [21]:
lst

[[[1, 0, 0], [2, 0, 0], [3, 0, 0]],
 [[4, 0, 0], [5, 0, 0], [6, 0, 0]],
 [[7, 0, 0], [8, 0, 0], [9, 0, 0]]]

In [23]:
lst[2][1][0]

8

In [24]:
lst[2][1]

[8, 0, 0]

In [46]:
#        Roll No, Name, Eng, Hin, Pun, Sci, Math

record = [[1, "Shivam" , 75,  85, 75 , 86 , 86],
          [2, "Divya"  , 85,  85, 76 , 96 , 82],
          [3, "Devansh", 46,  65, 67 , 46 , 96],
          [4, "Dev"    , 43,  55, 68 , 36 , 66]]

In [47]:
record

[[1, 'Shivam', 75, 85, 75, 86, 86],
 [2, 'Divya', 85, 85, 76, 96, 82],
 [3, 'Devansh', 46, 65, 67, 46, 96],
 [4, 'Dev', 43, 55, 68, 36, 66]]

In [48]:
for i in record:
  print(i[0])

1
2
3
4

In [49]:
roll_no = int(input("Enter the roll number: "))

for i in record:
  if (i[0] == roll_no):
    print("***********")
    print("Name: ",i[1])
    print("Eng: ",i[2])
    print("Hin: ",i[3])
    print("Pun: ",i[4])
    print("Sci: ",i[5])
    print("Math: ",i[6])

    avg = ((i[2] + i[3] + i[4] + i[5] + i[6])/500)*100

    print("Average: ", avg)

Enter the roll number: 1
***********
Name:  Shivam
Eng:  75
Hin:  85
Pun:  75
Sci:  86
Math:  86
Average:  81.39999999999999

In [54]:
data = []

for i in record:
  
  avg = (i[2] + i[3] + i[4] + i[5] + i[6])/5

  if (avg > 90 and avg < 100):
    grade = "A+"
  if (avg > 80 and avg < 90):
    grade = "A"
  if (avg > 70 and avg < 80):
    grade = "B+"
  if (avg > 60 and avg < 70):
    grade = "B"
  if (avg > 50 and avg < 60):
    grade = "C"
  if (avg < 50 ):
    grade = "F"

  data.append([i[0],i[1], avg, grade])

In [55]:
data

[[1, 'Shivam', 81.4, 'A'],
 [2, 'Divya', 84.8, 'A'],
 [3, 'Devansh', 64.0, 'B'],
 [4, 'Dev', 53.6, 'C']]

In [56]:
record

[[1, 'Shivam', 75, 85, 75, 86, 86],
 [2, 'Divya', 85, 85, 76, 96, 82],
 [3, 'Devansh', 46, 65, 67, 46, 96],
 [4, 'Dev', 43, 55, 68, 36, 66]]

In [65]:
for i in record:
  print(sum(i[2:])/len(i[2:]))

81.4
84.8
64.0
53.6

In [59]:
record[0][0]

1